<div class="view">
  <div class="layout layout--row layout--top">
    {% render "error_message" with trmnl: trmnl, system_information: system_information %}
    <div class="grid grid--cols-2 gap--large">
    {% for station in station_information limit: 6 %}
      {% assign status = station_status | where: "station_id", station.station_id | first %}
      <div class="item">
        <div class="meta"></div>
        <div class="content">
          <span class="label label--small"><b>{{ station.name }}</b></span>
          <span class="description">{{ station.address }}</span>
          <div class="flex flex--row">
            <div class="w--3 image">{{ svg_bike }}</div>
            <div class="label label--small w--5 text--center label--inverted">
              {{ status.num_bikes_available }}
            </div>
            <div class="w--3 image">{{ svg_anchor }}</div>
            <div class="label label--small w--5 text--center label--outline">
              {{ status.num_docks_available }}
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>

  {% if station_information.size <= 4 %}
  <div class="title_bar">
    <img class="image" src="https://raw.githubusercontent.com/stephenyeargin/trmnl-bcycle/main/assets/bcycle.svg" />
    <span class="title">{{ system_information.name }} Station Status</span>
  </div>
  {% endif %}
</div>
